.header {
  display: flex;
    justify-content: space-around
    
      }

      .search {
        width: fit-content;
        border-radius: 100%;
        
      }

      .profile {
        border-radius: 100%;
        overflow: hidden;
        height: 25px;
        width: 25px;
      
      }
      
      .priceN{
        display: flex;
        justify-content: center
        
        
      }

      .priceS {
        display: flex;
        justify-content: center
      }

      

    